<div class="container-fluid">
  <nav class="d-flex justify-content-between">
    <ul class="nav">
      <li>
        <a class="nav-link" routerLink="/Home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/About" routerLinkActive="active"
          >About Us</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/Services" routerLinkActive="active"
          >Services</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/Student" routerLinkActive="active"
          >Student</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/Contect" routerLinkActive="active"
          >Contact Us</a
        >
      </li>
    </ul>

    <ul class="nav">
      <li><a class="nav-link" routerLink="/book">Book</a></li>
    </ul>

    <ul class="nav">
      <li><a class="nav-link" routerLink="Login">Login</a></li>
    </ul>
  </nav>
</div>
