<div class="container-fluid">
  <nav class="d-flex justify-content-between">
    <ul class="nav">
      <li><a class="nav-link" routerLink="Home">Home</a></li>
      <li><a class="nav-link" routerLink="About">About Us</a></li>
      <li><a class="nav-link" routerLink="Services">Services</a></li>
      <li><a class="nav-link" routerLink="Student">Student</a></li>
      <li><a class="nav-link" routerLink="Contect">Contact Us</a></li>
    </ul>

    <ul class="nav">
      <li><a class="nav-link" routerLink="Login">Login</a></li>
    </ul>
  </nav>
</div>
